body {
    font-family: Special Elite;
    background-image: url("./paper.jpg");
    background-size: cover;
}

button, input {
    font-family: Special Elite;
}

button {
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
    background: 0;
    font-size: 1vw;
}

button:active {
    transform: translateY(3px);
}

button:hover {
    cursor: pointer;
}

h1 {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-top: black 8px solid;
    border-bottom: black 8px solid;
    font-size: 5vw;
    margin: 0;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
}

label {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

footer {
    border-top: black 4px solid;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* For the socials in the footer. (This can be changed if I add more links later on.) */
a {
    text-decoration: none;
    margin-right: 10px;
}

.row1 {
    display: grid;
    grid-template-columns: 80% 20%;
    border-top: black 4px solid;
    border-bottom: black 4px solid;
}

.row2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.row3 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.shop-item {
    border-left: black 4px dashed;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.resource-icon {
    height: 2vw;
    width: auto;
    margin-left: 15px;
    margin-right: 5px;
}

#info {
    display: flex;
    justify-content: space-between;
}

#div-ad {
    grid-column: 2;
    grid-row: 1;
    border-left: black 2px solid;
}

#welcome-article, #rock-article, #wood-article {
    grid-column: 1;
    grid-row: 1;
}

#welcome-img {
    max-height: 18vw;
    width: auto;
}

#sponsor {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#num-rock, #num-wood {
    display: inline;
}

#rock-resource-div, #wood-resource-div {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
