.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rock-resource-div, #wood-resource-div {
    display: none;
}

/* For the socials in the footer. */
.social {
    text-decoration: none;
    margin-right: 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fade-out {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}
