body {
    font-family: Special Elite;
}

button, input {
    font-family: Special Elite;
}

h1 {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-top: black 8px solid;
    border-bottom: black 8px solid;
    font-size: 5vw;
    margin: 0;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
}

label {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

#row1 {
    display: grid;
    grid-template-columns: 80% 20%;
    border-top: black 4px solid;
    border-bottom: black 4px solid;
}

.center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-left {
    border-left: black 2px solid;
}

.resource-group {
    display: flex;
    justify-content: center;
}

.resource-group img {
    height: 2vw;
    width: auto;
}

#sponsor {
    margin: 10px;
}
